/* Boilerplate */
:root {
  --blue: #00ccff;
}

html,
body {
  width: 100%;
  /* height: 100%; */
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: white;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-color: #2c343f;
}
/* Globals */
a,
a:visited {
  text-decoration: none;
  font-weight: 700;

  background-image: linear-gradient(135deg, var(--blue) 0%, #00fff2 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

code:not(.hljs) {
  color: white;
  background-color: #005f77;
  border: 1px solid #00ccff;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

img {
  max-width: 100%;
}

.container {
  width: min(90%, 120rem);
  margin: 0 auto;
}

/* Utilities */
.color-red {
  color: red;
}
.color-green {
  color: green;
}
.color-blue {
  color: var(--blue);
}
.mt-10 {
  margin-top: 10rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-0 {
  margin-top: 0;
}
.ml-0 {
  margin-left: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-10 {
  margin-bottom: 10rem;
}
.h-3 {
  height: 3rem;
}
.w-100 {
  width: 100% !important;
}
.text-center {
  text-align: center;
}

.link {
  background-image: linear-gradient(135deg, white 0%, white 100%);

  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.link:hover {
  background-image: linear-gradient(135deg, var(--blue) 0%, #00fff2 100%);
}

.badge {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-image: linear-gradient(
    135deg,
    rgba(0, 204, 255, 0.5) 0%,
    rgba(0, 255, 242, 0.5) 100%
  );

  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  -moz-background-clip: unset;
  -moz-text-fill-color: unset;
}
.badge:hover {
  background-image: linear-gradient(135deg, var(--blue) 0%, #00fff2 100%);

  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.gradient-text {
  /* Create the gradient. */
  background-image: linear-gradient(135deg, var(--blue) 0%, #00fff2 100%);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.green {
  background-image: linear-gradient(135deg, green 0%, #00ff80 100%);
}
.red {
  background-image: linear-gradient(135deg, red 0%, #ff00dd 100%);
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .flex {
    flex-direction: row;
  }
}

.flex-content-between {
  justify-content: space-between;
}
.flex-content-evenly {
  justify-content: space-evenly;
}
.flex-content-center {
  justify-content: center;
}
.flex-items-center {
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}

.btn {
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
  box-shadow: 0px 1px 10px 1px rgba(0, 238, 255, 0.2);
  color: white;
  background-image: linear-gradient(
    135deg,
    rgba(0, 204, 255, 0.5) 0%,
    rgba(0, 255, 242, 0.5) 100%
  );
}

.btn__center {
  display: block;
  margin: 5rem auto 0;
}

.btn__text {
  padding: 1rem;
  margin: 0 auto;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}
.header__shadow {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}
/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-size: 3rem;
  font-weight: 700;
}
.nav__menu {
  list-style: none;
}
.nav__link {
  display: none;
}
.nav__link:last-of-type {
  margin-right: 0;
}
@media (min-width: 768px) {
  .nav__link {
    display: inline;
    margin-right: 5rem;
  }
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding-top: 1rem;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav__link {
  display: inline;
}
.mobile-nav__icon {
  width: 3rem;
  fill: white;
}

/* Hero */
.hero {
  position: relative;
  overflow: hidden;
}
.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .hero__content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }
}
.hero__title {
  font-size: 5rem;
  text-align: center;
}
.hero__img {
  margin-top: 2rem;
  max-width: 20rem;
}
@media (min-width: 768px) {
  .hero__img {
    max-width: 50rem;
  }
}

#canvas {
  background-color: #2c343f;
  width: 100%;
  height: 100vh;
}

/* Content */
.content {
  min-height: calc(100vh - 16.5rem);
}

.metadata {
  line-height: 1;
  padding: 0 0 1rem 3rem;
  width: 100%;
  border: rgba(255, 255, 255, 0) 1px solid;
  border-radius: 1rem;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .metadata {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0);
  }
  .metadata:hover {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  }
}

.metadata__social {
  margin-top: 2rem;
}

.list {
  line-height: 1;
  padding: 0 0 2rem 3rem;
  margin-bottom: 1rem;
  margin-right: 0rem;
  border: rgba(255, 255, 255, 0) 1px solid;
  border-radius: 1rem;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .list {
    margin-right: 25rem;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0);
  }
  .list:hover {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  }
}

.sidebar {
  z-index: 1;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  margin-top: 6rem;
  padding-left: 1rem;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(30rem);
  transition: transform 250ms ease-in-out;
}

@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0rem);
    margin-top: 6.4rem;
  }
}

.sidebar__title {
  padding: 0 0 1rem 2rem;
  display: block;
}

.sidebar__content {
  display: inline;
  margin-left: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 3rem;
  /* background-image: linear-gradient(135deg, white 0%, white 100%); */
  color: white;
}
.sidebar__content:hover {
  display: inline;
  margin-left: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 3rem;
  background-image: linear-gradient(
    135deg,
    rgba(0, 204, 255, 0.5) 0%,
    rgba(0, 255, 242, 0.5) 100%
  );
}

#openSidebarMenu:checked ~ .content > .container.mt-10 > .sidebar {
  transform: translateX(0rem);
}

#openSidebarMenu {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  top: 22px;
  right: 15px;
  height: 22px;
  width: 22px;
}

@media (min-width: 768px) {
  .sidebarIconToggle {
    display: none;
  }
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.share-box {
  width: 100%;
  cursor: pointer;
  padding: 1rem 0;
  border: rgba(0, 0, 0, 0) 1px solid;
  border-radius: 1rem;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease-in-out;
}
@media (min-width: 768px) {
  .share-box {
    width: 25%;
    padding: 4rem 0;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0);
  }
  .share-box:hover {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

.share-box__text {
  margin-top: 0;
  margin-bottom: 0;
}

/* Carousel */
.swiper-container {
  margin-right: 0;
}
@media (min-width: 768px) {
  .swiper-container {
    margin-right: 30rem;
  }
}

.swiper-title {
  margin-top: 5rem;
}

.swiper-button-next,
.swiper-button-prev {
  width: calc(var(--swiper-navigation-size) / 30 * 27);
  height: calc(var(--swiper-navigation-size) / 30 * 27);
  backdrop-filter: blur(3px);
  box-shadow: 0px 1px 10px 1px rgba(0, 238, 255, 0.2);
  border-radius: 50%;
  color: white;
  background-image: linear-gradient(
    135deg,
    rgba(0, 204, 255, 0.5) 0%,
    rgba(0, 255, 242, 0.5) 100%
  );
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  font-size: 3rem;
  height: 3.4rem;
  content: '\279C';
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  transform: rotate(180deg);
  font-size: 3rem;
  height: 3.4rem;
  content: '\279C';
}

/* Cards */
.card {
  margin: 1rem;
  min-width: 25rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.card__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.card__image-center {
  text-align: center;
}
.card__image {
  max-height: 15rem;
  border-radius: 1rem;
}

.card__description {
  margin: 0;
  padding: 0 2rem 2rem;
  line-height: 1;
  /* text-align: justify; */
}

/* Pagination */
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: black;
  background-color: #2c343f;
  border: 1px solid #53ffe2;
}

.page-link:hover {
  color: var(--blue);
  text-decoration: none;
  background-color: #e9ecef;
  border-color: var(--blue);
}

.page-link:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(93, 120, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.40625rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.984375rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

/* Footer */
.footer {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .footer {
    margin-bottom: 0rem;
  }
}
