{{ define "metadata" }}
  <meta name="description" content="{{ $.Site.Params.description }}" />
  <meta name="twitter:description" content="{{ $.Site.Params.description }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ $.Site.Params.twitter }}" />
  <meta name="twitter:creator" content="{{ $.Site.Params.twitter }}" />
  <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
  <meta name="twitter:image" content="{{ absURL $.Site.Params.cover }}" />
  <meta property="og:image" content="{{ absURL $.Site.Params.cover }}" />
{{ end }}

{{ define "main" }}
  <div class="container mt-10">
    <h1>{{ singularize .Title }}</h1>
    
    {{ range .Data.Pages }}
      <article class="list">
        <a href="{{ .RelPermalink }}">
          <h3>
            {{ .Title }}
          </h3>
        </a>
        <p>
          {{ if .Params.tags }}
            <strong>Tags:</strong> 
            {{ range .Params.tags }}
              <a class="sidebar__content" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> 
            {{ end }}
          {{ end }}
        </p>
        
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          Fecha de publicación: {{ .Date.Format "2-01-2006" }}
        </time>
      </article>
  {{ end }}
    {{ partial "sidebar.html" .Site.Taxonomies.tags }}
  </div>
{{ end }}

