{{ define "metadata" }}
  <meta name="description" content="{{ $.Site.Params.description }}" />
  <meta name="twitter:description" content="{{ $.Site.Params.description }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ $.Site.Params.twitter }}" />
  <meta name="twitter:creator" content="{{ $.Site.Params.twitter }}" />
  <meta name="twitter:title" content="{{ .Site.Title }}" />
  <meta name="twitter:image" content="{{ absURL $.Site.Params.cover }}" />
  <meta property="og:image" content="{{ absURL $.Site.Params.cover }}" />
{{ end }} 
{{ define "main" }}
  <div class="container mt-7">
    <h1>{{ singularize .Title }}</h1>
    
    
    {{ range .Paginator.Pages }}
      <article  class="list">
        <h3>
          <a class="link" href="{{ .RelPermalink }}">            
            {{ .Title }}
          </a>
        </h3>
        <p>
          {{ if .Params.tags }}
            <strong>Tags:</strong> 
            {{ range .Params.tags }}
              <a class="badge" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                {{ . }}
              </a> 
            {{ end }}
          {{ end }}
        </p>
        
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          <strong>Publish Date:</strong> {{ .Date.Format "January 2, 2006" }}
        </time>
      </article>
    {{ end }}
    
    {{ partial "sidebar" .Site.Taxonomies.tags }}

    {{ partial "pagination" . }}
  </div>
{{ end }}

