<section class="hero">
  <div class="hero__overlay">
    <div class="hero__content">
      <div>
        <h1 class="hero__title mb-0">
          Tech
          <span class="gradient-text">Talks</span>
        </h1>
        <p class="mb-0 mt-0 text-center">{{ $.Site.Params.description }}</p>
        <a
          href="https://t.me/techntalks"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="telegram"
        >
          <button class="btn btn__center mt-3" aria-label="telegram">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="44"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1"
              stroke="#00ccff80"
              fill="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
            </svg>
          </button>
        </a>
      </div>
    </div>
  </div>
  <canvas id="canvas"></canvas>
</section>
