{{ define "metadata" }}
<meta name="description" content="{{ $.Site.Params.description }}" />
<meta name="twitter:description" content="{{ $.Site.Params.description }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ $.Site.Params.twitter }}" />
<meta name="twitter:creator" content="{{ $.Site.Params.twitter }}" />
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="twitter:image" content="{{ absURL $.Site.Params.cover }}" />
<meta property="og:image" content="{{ absURL $.Site.Params.cover }}" />
{{ end }} 
{{ define "main" }}
<div class="container mt-10">
  <h1>{{ .Title }}</h1>
      
    {{ range .Paginator.Pages }}
      <article  class="list">
        <h3>
          <a href="{{ .RelPermalink }}" class="link">            
            {{ .Title }}
          </a>
        </h3>
        <p>
          {{ if .Params.kinds }}
            <strong>Kind of Event:</strong> 
            {{ range .Params.kinds }}
              <a class="badge" href="{{ "/kinds/" | relLangURL }}{{ . | urlize }}">
                {{ . }}
              </a> 
            {{ end }}
          {{ end }}
        </p>
        
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          <strong>Publish Date:</strong> {{ .Date.Format "January 2, 2006"}}
        </time>
      </article>
    {{ end }}
    
    {{ partial "sidebar" .Site.Taxonomies.kinds }}

    {{ partial "pagination" . }}
</div>
{{ end }}
